
    <div class="container">
        <div class="col">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nesciunt reiciendis cum ratione beatae amet ducimus possimus minima, earum, ipsa praesentium iusto eligendi facilis adipisci voluptate recusandae sequi id rem.
        </div>
        <div class="col">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda quaerat modi eum animi laudantium! Porro, nam. Dignissimos, deleniti commodi autem optio nemo quas pariatur. Animi perferendis vel eum mollitia laborum?
        </div>
        <div class="col">
          <div class="for-us">
            <div class="facebook">
            <a href="https://www.facebook.com/" class="face"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="instagram">
                <a href="https://www.instagram.com/?hl=uk" class="inst"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="pinterest">
                <a href="https://www.pinterest.com/" class="pint"><i class="fab fa-pinterest-square"></i> </a>
            </div>
            <div class="youtube">
                <a href="https://www.youtube.com/" class="yout"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
